<launch>
    <include file="$(find drones_move)/launch/debug/world.launch" />
    <include file="$(find drones_move)/launch/debug/mapping.launch" />
    <include file="$(find drones_move)/launch/debug/visualization.launch" />
    <node name="mapcombiner" pkg="drones_move" type="mapcombiner.py" output="screen" />
    <node name="botmover" pkg="drones_move" type="botmover.py" output="screen" />
</launch>